.container {
    display: grid;
    grid-template-columns: repeat(3,200px);
    grid-template-rows: repeat(3,200px);
    gap: 10px;
    width: 620px;
    background-color: blue;
    text-align: center;
}

.square {
    width: 200px;
    height: 200px;
    background-color: white;
    font-size: 150px;
    font-family: 'roboto';
}

.hidden {
    display: none;
}

#winner-modal {
    text-align: center;
    margin: 20px;
    padding: 15px;
    width: 620px;
    font-size:x-large;
    font-family: sans-serif;
}

#reset-btn {
    font-size: 1.2rem;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}