.container {
    display: grid;
    grid-template-columns: repeat(3,200px);
    grid-template-rows: repeat(3,200px);
    gap: 10px;
    width: 620px;
    background-color: blue;
    text-align: center;
}

.square {
    width: 200px;
    height: 200px;
    background-color: white;
    font-size: 150px;
    font-family: 'roboto';
}